<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.it_score.admin.uscore001">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name="com.it_score.admin.uscore001.App"
        android:allowBackup="true"
        android:icon="@drawable/app_icon_1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon_1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.it_score.admin.uscore001.activities.AppIntroActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.it_score.admin.uscore001.activities.login_activity"
            android:theme="@style/ActivityNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.it_score.admin.uscore001.activities.dashboard_activity"
            android:theme="@style/ActivityNoActionBar"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.DASHBOARD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.it_score.admin.uscore001.activities.register_activity">
            <intent-filter>
                <action android:name="android.intent.action.RegisterActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name="com.it_score.admin.uscore001.activities.StudentRegisterRequestActivity">
            <intent-filter>
                <action android:name="android.intent.action.StudentRegisterRequestActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name="com.it_score.admin.uscore001.activities.TopScore_Activity"
            android:theme="@style/ActivityNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.TOPSCORE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.it_score.admin.uscore001.activities.QRCODE_activity">
            <intent-filter>
                <action android:name="android.intent.action.QRCODE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.it_score.admin.uscore001.activities.StudentProfile_activity2"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.STUDENT2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.it_score.admin.uscore001.activities.StudentDetailPage">
            <intent-filter>
                <action android:name="android.intent.action.StudentDetailPage" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.it_score.admin.uscore001.activities.CommentsPage"
            android:theme="@style/ActivityNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.CommentPage" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.it_score.admin.uscore001.activities.TeacherProfile">
            <intent-filter>
                <action android:name="android.intent.action.TeacherProfile" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.it_score.admin.uscore001.activities.RecentActionsPage"
            android:theme="@style/ActivityNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.RECENTACTIONS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.it_score.admin.uscore001.activities.RequestDetailView"
            android:theme="@style/ActivityNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.RequestDetail" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.it_score.admin.uscore001.activities.RequestAddingScoreActivity">
            <intent-filter>
                <action android:name="android.intent.action.RequestAddingScoreActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.it_score.admin.uscore001.activities.MakePenaltyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MakePenaltyActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.it_score.admin.uscore001.activities.AdminSectionActivity">
            <intent-filter>
                <action android:name="android.intent.action.AdminSectionActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.it_score.admin.uscore001.activities.AddTeacherAdminSectionActivity">
            <intent-filter>
                <action android:name="android.intent.action.AddTeacherAdminSectionActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.it_score.admin.uscore001.activities.AddOptionActivity">
            <intent-filter>
                <action android:name="android.intent.action.AddOptionActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--<service android:name=".FirebaseMessagingService">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.firebase.MESSAGING_EVENT" />-->
            <!--</intent-filter>-->
        <!--</service>-->

        <!--<meta-data-->
            <!--android:name="com.google.firebase.messaging.default_notification_channel_id"-->
            <!--android:value="@string/teacher_confirm_request_notification_channel_id" />-->

    </application>

</manifest>